/*#fb3d50*/
/*#00a5bb*/

#menu_navbar{
	height: 8rem;
	background-color: #fff;
	padding: 30px 50px 0 50px;
}
.mb0{
	margin-bottom: 0;
}
.mr0{
	margin-right: 0 !important;
}
.mb10{
	margin-bottom: 10%
}
.fs17{
	font-size: 17px;
}
.fs13{
	font-size: 13px
}
.padding5{
	padding: 5%;
}
.paddingLeft{
	padding-left: 3%
}
nav ul a{
	color: #3e3a48!important;
	font-family: 'Montserrat', sans-serif;
}
.enlaceMenu{
	text-transform: uppercase;
}
ul a.enlaceMenu:hover{
	background-color: #336699!important;
    color: #ffffff!important;
}
nav a.button-collapse{
	color: #000;
}
#inicio{
	height: 100vh;
}
.slider .indicators .indicator-item {
    background-color: #fff !important;
}
.slider .indicators .indicator-item.active {
    background-color: #336699 !important;
}
#que_es{
	background-color: #f8f9fb;
	padding: 8% 0 6% 0;
	margin-top: -4%;
}
#preguntas{
	padding: 15% 0;
}
.colVideo{
	padding: 10.5% 0 0 5% !important;
}
.que_es, .objetivos{
	text-align: justify;
}
.contenTitulo{
	margin-bottom: 5%;
}
.t1{
	font-size: 60px;
    font-weight: bold;
    color: #0081c8 !important;
    margin: 0;
}
.t2{
	font-size: 50px;
    font-weight: bold;
    color: #005968 !important;
    margin: 0;
}
.t3{
	font-size: 40px;
    font-weight: bold;
    color: #658a96 !important;
    margin: 0;
}
.sliderTop{
	margin-top: 25%;
}
.buttonPresentacion{
	background-color: #336699;
    color: #fff;
    padding: 2% 10%;
    border-radius: 5px;
    text-transform: uppercase;
}
.que_es, .contentPreguntas{
	margin:0 auto;
}
.contentVideo{
	height: 500px;
}
#imgDoctorObjetivos{
	height: 100vh;
	padding: 0 0 52% 0;
    background-size: cover;
    background-image: url(../img/senior-doctor.jpeg);
    padding-left: 0;
}
.texto_quees{
	padding-bottom: 5%;
}
.tittle{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
}
#inf_objetivos{
	padding: 3% 0 0 4%;
}
.titulObjetivos{
	padding-top: 5%;
}
.textObjetivos{
	width: 90%;
	padding: 0 0 5% 0;
}
.colorBackground{
	padding: 6% 0;
	background-color: #336699;
}
.textWhite{
	color: #fff;
}
.textGray{
	color: #626262;
}
/*- - - - - - - - - - - - eventos individual - - - - - - - - -  - */
.content_infoCard{
	width: 90%;
	margin: 0 auto ;
}
.eventoLink{
	padding: 4%;
	border:2px solid #fff!important;
	color: #fff!important;
}
.card .cardContenedor{
	height: 17rem;
}
.arrows{
	float: right;
}
.bt-line{
	border: 1px solid #e5e5e5;
	margin-bottom: 2%;
}
.descarga{
	margin-top: -2%;
	float: right;
}
.card .card-content{
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.card .card-title{
	font-size: 1.2em !important;
    line-height: 28px !important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating), .jornadaTitulo p{
	color: #336699!important;
}
/*- - - - - - - - - - - - Comentarios - - - - - -- - -  -*/
.comentarios .container .row input.borderWhite{
	border-bottom: 1px solid #fff;
	color: #fff;
}
.comentarios .container .row textarea.borderWhite{
	border-bottom: 1px solid #fff;
	color: #fff;
}
.comentarios .container .row label.textWhite{
	color: #fff;
}
.buttonComentarios{
	width: 100%;
	margin: 0 0 5% 0;
	color: #369;
}
/*- - - - - - - - - - - - Normativas - - - - - -- - -  -*/
.normativas{
	padding:5% 0;
}
.tableNormativa{
	margin-bottom: 3%;
}
.pagination li.activado {
    background-color: #336699;
}
/*- - - - - - - - - - - - Preguntas - - - - - -- - -  -*/
.iconsPreguntas{
	color:#336699;
}
.lineaColor{
    width: 100px;
    height: 3px;
    background-color: #336699;
    border: none;
}
.lineaWhite{
    width: 100px;
    height: 3px;
    background-color: #fff;
    border: none;
}
.lineaColor-objetivos{
	width: 100px;
    height: 3px;
    background-color: #336699;
    border: none;
}
/*- - - - - - - - - - - Galeria  - - - - - - - - - - -*/
.imgShadow{
	box-shadow: 2px 2px 5px #a1a1a1;
}
footer{
	width: 100%;
	padding: 1% 5%;
	background-color: #336699;
}
/*- - - - - - - - - - - eventos - home- - - - - - - - - - -*/
#eventos{
	padding: 9% 0;
}
.contentEvento{
	padding: 7% 0 3% 0;
    background: #336699;
}
.tituloEvento{
	padding-bottom: 2%;
}
.infEvento{
	margin: 5% 0;
    padding: 0 4%;
}
.icon_social{
	margin-top: 5%;
}
.change-color{
	background-color: black;
}
.botonVermas{
	background: #336699;
    padding: 1.5% 6%;
}
.verMasEventos{
	background-color: #fff;
    color: #336699;
    font-weight: bold;
    margin-top: 6%;
}
.verMasEventos:hover, .verMasEventos:focus{
	background-color: #fff;
}
/*- - - - - - - - - - - eventos segunda página- - - - - - - - - - -*/
.calendarEvents{
	padding: 10% 0;
}
.boxListaEventos, .boxListaCategorias{
    padding: 2% 5% 2% 5%;
    margin-bottom: 2%;
}
.boxListaEventos:hover, .boxListaCategorias:hover	{
    background-color: #f2f2f2;
}
.seleccionado:hover{
    background-color: #336699;
    color: #fff;
}
.seleccionado:hover .circuloMenuEventos{
	background-color: #dcddde !important;
}
.boxListaEventos:hover .circuloMenuEventos, .boxListaCategorias:hover .circuloMenuEventos{
	background-color: #336699;
}
.seleccionado{
	background-color: #336699;
}
.seleccionado a div .textGray{
	color: #fff;
}
.circuloMenuEventos{
	display: inline-block;
    min-width: 10px;				
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #dcddde;
    border-radius: 10px;
}
/*- - - - - - - - - - - eventos página interna - - - - - - - - - - -*/
.shadowLeft{
	box-shadow: -5px 5px 5px #dddddd;
}
.datosEventos{
	background-color: #f1f1f1;
    padding: 5%;
    box-shadow: 5px 5px 5px #d3d1d1;
}
.contentTextoEvento{
	width: 90%;
	margin: 0 auto;
	padding: 5% 0;
}
.ponencias{
	background-color: #f2f2f2;
}
.buttonRegistro{
	width: 100%;
    background-color: #336699;
    border: none;
    color: #fff;
    padding: 1% 10%;
    border-radius: 5px;
    margin-top: 3%;
    text-transform: uppercase;
}
.buttonRegistro:focus{
	background-color: #336699;
}
.buttonModal{
	background-color: #336699;
    color: #fff;
    margin-right: 2% !important;
}
.buttonModal:hover, .buttonModal:focus, .buttonModal:active{
	background-color: #336699;
}
.formRegistro{
	width: 90%;
    margin: 0 auto;
}
#cabeceraModal{
	background-color: #336699;
    color: #fff;
    text-transform: uppercase;
    padding: 0% 5%;
    font-size: 20px;
}
textarea.materialize-textarea {
    overflow-y: hidden;
    padding: .8rem 0 5.9rem 0 !important;
    resize: none;
    min-height: 3rem;
}
.contenedorInput{
	width: 90%;
}
/*- - - - - - - - - - - Media Queries - - - - - - - - - - -*/
@media(min-width: 1900px) and (max-width: 770px){
	.contenTitulo {
    	margin-bottom: 10%;
	}
	.img-doctor-two{
		background-image: url(../img/paciente_doctor.jpg);
	}
	#inicio{
		height: inherit;
	}
	#que_es, #objetivos, #eventos,#normativa, #comentarios, #preguntas{
		height: initial;
	}
	#que_es, #eventos, #comentarios, #preguntas{
		padding: 10% 0;
	}
	#objetivos{
		padding-bottom: 10%;
	}
	.que_es, .eventos, .normativas, .comentarios, .contentPreguntas{
		padding: 10% 0;
	}
	.content_infoCard{
		width: 100%;
		margin:  5% 0;
	}
	.titulObjetivos p{
		padding-left: 0;
	}
	#contentLogoCitas {
    	top: 75%;
	}
	.logo_citas{
		width: 350px;
	}
	.lineaColor-objetivos{
		text-align: center;
    	display: inline-block;
	}
	#inf_objetivos {
	    padding: 0;
	}
	.textObjetivos {
	    margin: 0 auto;
	}
	.contButtonPresentacion{
		text-align: center;
	}
	#preguntas{
		text-align: justify;
	}
	.buttonComentarios{
		width: 100%;
    	margin: 0 0 5% 0;
    	color: #369;
	}
	.colVideo{
		padding: inherit !important;
		margin-top: 5%;
	}
}
@media screen and (max-width: 1366px) and (max-height: 800px) {	
	#section_two {
	    margin-top: -5%;
	}
	#imgDoctorObjetivos {
	    height: 0; 
	    padding-bottom: 65%;
	}
	.colVideo {
    	padding: 16% 0 0 5% !important;
	}
	.content_infoCard {
	    width: 100%; 
	    margin:0 0 5% 0; 
	}
}
@media screen and (max-width: 1024px) and (max-height: 768px) {
	#section_two {
	    margin-top: -7%;
	}	
	#imgDoctorObjetivos {
	    height: 0; 
	    padding-bottom: 90% !important;
	}
	.content_infoCard {
	    width: 100%;
	    margin: 0;
	}
	.colVideo {
    	padding: 8% 0 0 0 !important;
	}
}
@media screen and (max-width: 1280px) and (max-height: 800px) {	
	#imgDoctorObjetivos {
	    height: 0; 
	    padding-bottom: 70%;
	}
}
@media screen and (max-width: 768px){
	#section_two {
	    margin-top: -14%;
	}	
	#imgDoctorObjetivos {
	    height: 0;
	    padding: 0 0 70% 0;
	    background-position-y: -60px;
	}
	.content_infoCard {
	    width: 100%;
	    margin: 0 0 5% 0;
	}
	#que_es{
		margin-top: -14%;
	}
}
@media screen and (max-width: 320px){
	#imgDoctorObjetivos {
	    background-position-y: -100px;
	}
	.content_infoCard {
	    width: 100%;
	}
}
@media screen and (max-width: 400px){
	#section_two {
	    margin-top: -14%;
	}
	#inf_objetivos {
    	padding: 8% 0 8% 8%;
	}
	#imgDoctorObjetivos {
	    background-position-y: -23px;
	    background-repeat: no-repeat;
	}	
	.content_infoCard {
	    width: 100%;
	    margin: 3% 0 3% 0;
	}
}
@media only screen and (max-width: : 700px){
	.t1{
		font-size: 40px;
	    font-weight: bold;
	    color: #0081c8 !important;
	    margin: 0;
	}
	.t2{
		font-size: 30px;
	    font-weight: bold;
	    color: #005968 !important;
	    margin: 0;
	}
	.t3{
		font-size: 20px;
	    font-weight: bold;
	    color: #658a96 !important;
	    margin: 0;
	}
	.sliderTop{
		margin-top: 50%;
	}
	.shadowLeft{
		box-shadow: 0 0 0 transparent;
	}
}
@media only screen and (max-width: : 1000px){
	.content_infoCard {
	    width: 100%; 
	    margin: 10% 0 5% 0;
	}
}
@media only screen and (max-width: 1600px){
	.card .cardContenedor {
	    color: black;
	    font-family: 'Montserrat', sans-serif;
	    overflow-y: scroll;
	}
	.card .cardContenedor::-webkit-scrollbar-track{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}
	.card .cardContenedor::-webkit-scrollbar{
		width: 6px;
		background-color: #F5F5F5;
	}
	.card .cardContenedor::-webkit-scrollbar-thumb{
		background-color: #a1a0a0	;
	}
}
@media only screen and (max-width: 1400px){
	#que_es{
		margin-top: -10%;
	}
	#imgDoctorObjetivos {
	    padding: 0 0 71% 0;
	}
}
@media only screen and (max-width: 1200px){
	.colVideo {
	    padding: 8% 0 0 0 !important;
	}
}
@media only screen and (max-width: 992px){
	.lineaColor-objetivos {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.contenTitulo{
		text-align: center;
	}
	.buttonPresentacion{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}